.env
node_modules/
.DS_Store
.env
.vscode/
dist/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
.idea/

package-lock.json
yarn.lock
pnpm-lock.yamllogs/
node_modules/
.env
